.breadcrumbs {
  padding: 15px 0;
  font-size: 1.3rem;
  font-family: $gin;
  @include bpm(sm) {
    padding: 12px 0;
    font-size: 2rem;
  }
  &__inner {
    width: 1000px;
    margin: 0 auto;
    color: #999985;
    @include bpm(sm) {
      width: 100%;
      padding: 0 4.7%;
    }
  }
  .current-item {
    color: $main_green;
  }
}

.breadSeparate {
  display: inline-block;
  margin: 0 8px;
}
