.commonHeader_01 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 12px;
  border-bottom: 2px solid $main_green;
  margin-bottom: 40px;
  @include bpm(sm) {
    margin-bottom: 20px;
  }
  .en {
    font-family: $yt;
    font-size: 7rem;
    color: $main_green;
    font-weight: normal;
    margin-right: 24px;
    @include bpm(sm) {
      font-size: 8.9rem;
    }
  }
  .ja {
    font-family: $gjm;
    font-size: 2.2rem;
    padding-bottom: 1.2rem;
    @include bpm(sm) {
      font-size: 2.6rem;
    }
  }
}

.topCommonHeader {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  @include bpm(sm) {
    height: 80vw;
  }
}

.topCommonHeaderCircle {
  width: 330px;
  height: 330px;
  background: rgba(#fff, 0.73);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include bpm(sm) {
    width: 60vw;
    height: 60vw;
  }
  &__image {
    margin-bottom: 10px;
    @include bpm(sm) {
      width: 18%;
    }
  }
  &__en {
    font-family: $yt;
    font-size: 4.3rem;
    color: $main_green;
    margin-bottom: 16px;
    @include bpm(sm) {
      font-size: 4.6rem;
    }
  }
  &__caption {
    font-size: 2rem;
    font-family: $gjm;
    margin-bottom: 16px;
    @include bpm(sm) {
      font-size: 2.2rem;
    }
  }
  &__title {
    font-size: 3.8rem;
    font-family: $gjm;
    text-align: center;
    line-height: 1.4;
    @include bpm(sm) {
      font-size: 4.6rem;
    }
  }
}
