@charset "utf-8";

@mixin bpm($point) {
  @if $point == lg {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  //ブレイクポイントを1000px、768pxにしています。変更しても大丈夫です。
  @if $point == md {
    @media only screen and (max-width: 1000px) {
      @content;
    }
  } @else if $point == sm {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
}

// 第一引数で基準となる画面幅のフォントサイズ、第二引数で基準となる画面幅を入力
// AIデータのフォントサイズをそのまま入れると割と良い感じになるようにしてます
@function get_vw($size, $viewport: 320) {
  $rate: 100 / $viewport;

  @return $rate * $size * 1vw;
}

@mixin fz_sm($font_size: 10) {
  font-size: $font_size * 0.65px;
  font-size: get_vw($font_size);
}

@function get_vw_md($size, $viewport: 640) {
  $rate: 100 / $viewport;

  @return $rate * $size * 0.82vw;
}

@mixin fz_md($font_size: 10) {
  font-size: $font_size * 0.65px;
  font-size: get_vw_md($font_size);
}

// 正方形
@mixin square($size: 100px) {
  width: $size;
  height: $size;
}

@for $i from 0 through 10 {
  .mb#{$i * 5} {
    margin-bottom: #{$i * 5}px;
  }

  .mt#{$i * 5} {
    margin-top: #{$i * 5}px;
  }
}

@for $i from 10 through 30 {
  .fz#{$i} {
    font-size: #{$i}px;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.cl:after {
  display: block;
  content: "";
  clear: both;
}

.pc_block {
  display: block;

  @include bpm(sm) {
    display: none;
  }
}

.pc_inline {
  display: inline;

  @include bpm(sm) {
    display: none;
  }
}

.sp_block {
  display: none;

  @include bpm(sm) {
    display: block;
  }
}

.sp_inline {
  display: none;

  @include bpm(sm) {
    display: inline;
  }
}

.inner {
  //width: $content-width;
  //margin: 0 auto;
  //@include bpm(sm) {
  //  width: 100%;
  //}
}

html {
  font-size: 62.5%;

  // @include bpm(md) {
  //   font-size: calc(100vw / 100);
  // }

  @include bpm(sm) {
    font-size: calc(100vw / 64);
  }
}
html {
  height: 100%;
}
body {
  font-family: $hiragino;
  color: $t_brown;
  // position: relative;
  height: 100%;
  line-height: 0;
}

.bold {
  font-weight: bold;
}

.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

a {
  transition: 0.3s;
  &:hover {
    opacity: 0.8;
    transition: 0.1s;
  }
}
