//
//------------------------
// Sizing
//
//
$content-width: 1000px;
$padding-size: 7.6%;

//
//------------------------
// Fonts
//
//

$yu: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
  sans-serif;
$sawarabi: "Sawarabi Gothic", sans-serif;
$meiryo: Meiryo, "メイリオ", "ＭＳ ゴシック", "Hiragino Kaku Gothic Pro",
  "ヒラギノ角ゴ Pro W3";
$hiragino: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ",
  "ＭＳ ゴシック", "Osaka‐等幅";
$min: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho,
  "HG明朝E", "ＭＳ Ｐ明朝", serif;
$yu_min: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
  "HG明朝E", "ＭＳ Ｐ明朝", serif;
$tsukua: "fot-tsukuardgothic-std", sans-serif;
$tsukub: "fot-tsukubrdgothic-std", sans-serif;
$mplus: "Mplus 1p", sans-serif;
$arima: "Arima Madurai", cursive;
$forum: "Forum", cursive;
$gv: "Great Vibes", cursive;
$ten: "ten-mincho";
$hannari: "Hannari", serif;
$mar: "Marcellus", serif;
$vdl: "vdl-v7mincho", sans-serif;
$mp: "Mplus 1p";
$roboto: roboto, sans-serif;
$gin: dnp-shuei-gothic-gin-std, sans-serif;
$agl: aglet-slab, sans-serif;
$shumin: dnp-shuei-mincho-pr6n, sans-serif;
$yt: "Yellowtail", cursive;
$smg: a-otf-ud-shin-maru-go-pr6n, sans-serif;

@font-face {
  font-family: "genjyuu-medium";
  src: url("../webfonts/gj_medium.eot?") format("eot"),
    url("../webfonts/gj_medium.woff2") format("woff2"),
    url("../webfonts/gj_medium.woff") format("woff");
}
.gjm {
  font-family: "genjyuu-medium";
}

@font-face {
  font-family: "genjyuu-regular";
  src: url("../webfonts/gj_regular.eot?") format("eot"),
    url("../webfonts/gj_regular.woff2") format("woff2"),
    url("../webfonts/gj_regular.woff") format("woff");
}
.gjr {
  font-family: "genjyuu-regular";
}

$gjm: "genjyuu-medium", sans-serif;
$gjr: "genjyuu-regular", sans-serif;

//
//------------------------
// Colors
//
//
$main_green: #4bc696;
$t_brown: #4a442d;
